@import "tailwindcss";

@theme {
  --font-heading: "Fraunces", serif;
  --font-body: "Inter", sans-serif;
  --font-mono: "IBM Plex Mono", monospace;
}

@layer base {
  body {
    font-family: var(--font-body);
    background-color: #f7f7f5;
    color: #1f2430;
  }

  .font-heading {
    font-family: var(--font-heading);
  }

  .font-mono {
    font-family: var(--font-mono);
  }
}
